hardware/hls/csim
hardware/hls/csynth.prj
hardware/hls/*.tmp


hardware/*.txt 
hardware/*.rpt 
hardware/*.smsg 
hardware/*.summary 
hardware/*.jdi 
hardware/*.pin 
hardware/*.sld 
hardware/*.csv 
hardware/*.done 
hardware/*.sof 
hardware/*.sopcinfo 
hardware/*.qws 
hardware/soc_system.BAK.qsys 
hardware/*.h 
hardware/*.rbf
hardware/db 
hardware/incremental_db 
hardware/hps_isw_handoff 
hardware/.qsys_edit 
hardware/soc_system

host/__pycache__/
host/host_c
host/host_cpp
host/program

















