hardware/hls/csim
hardware/hls/*.tmp
hardware/hls/csynth.prj


hardware/*.h 
hardware/*.txt 
hardware/*.rpt 
hardware/*.jdi 
hardware/*.pin 
hardware/*.sld 
hardware/*.csv 
hardware/*.sof 
hardware/*.qws 
hardware/*.rbf
hardware/*.done 
hardware/*.smsg 
hardware/*.summary 
hardware/*.sopcinfo 

hardware/db 
hardware/output
hardware/.qsys_edit 
hardware/soc_system
hardware/incremental_db 
hardware/hps_isw_handoff 
hardware/soc_system.BAK.qsys 

host/host_c
host/host_cpp
host/program
host/__pycache__/